// https://coolors.co/9cffd9-8b85c1-dacc3e-2e3138-f56960
//
// $primary   : #F56960;
// $secondary : #DACC3E;
// $accent    : #9CFFD9;

// $dark      : #2E3138;

// $positive  : #64B6AC;
// $negative  : #92140C;
// $info      : #D5C6E0;
// $warning   : #FFCF99;

// https://coolors.co/2f323a-fde74c-d3bcc0-c3423f-404e4d
$red: #c3423f;
$purple: #d3bcc0;
$yellow: #fde74c;
$teal: #488286;
$green: #58bc82;

$primary: $red;
$secondary: $purple;
$accent: $yellow;

$dark: #2f323a;

$negative: #da2c38;
$positive: $green;
$info: $teal;
$warning: $yellow;
